{% extends 'core/base.html' %}

{% block title %}{{ category.title }} | {% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                            <div class="section-header d-flex justify-content-between align-items-center mb-5">
                            <div><a href="{% url 'community' %}" class="more">Back To Forum</a></div>
                            </div>
                    <div class="columns">
                        <div class="column is-8 is-offset-2 align-items-center">
                            <h1 class="page-title">{{category.title}}</h1>
                            <hr style="color: #008001;">
                            {% for post in albumnews %}
                              <div class="card mb-5" style="max-width: 40rem; margin: auto; text-align-last: center;">
                                <div class="container text-center">
                                  <div class="row">
                                    {% for post_image in post.albumphotoimages_set.all %}
                                      {% if post_image.images %}
                                        <div class="col">
                                          <a href="{% url 'gallery' %}">
                                            <img src="{{ post_image.images.url }}" class="card-img-top mt-3" alt="..." style="max-width:300px; height: 200px; max-height: 200px; object-fit: cover;">
                                          </a>
                                        </div>
                                        {% if forloop.counter == 2 %}
                                          </div>
                                          <div class="row">
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                  </div>
                                </div>
                                <div class="card-body">
                                  <a href="{% url 'gallery' %}">
                                    <h5 class="card-title">{{ post.name }}</h5>
                                  </a>
                                  <p class="card-text">{{ post.caption }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">{{ post.created_at|timesince }} ago</li>
                                  <li class="list-group-item">AlBUM</li>
                                </ul>
                              </div>
                            {% endfor %}
                            {% for post in albumnews %}
                              <div class="card mb-5" style="max-width: 40rem; margin: auto; text-align-last: center;">
                                <div class="container text-center">
                                  <div class="row">
                                    {% for post_image in post.albumphotoimages_set.all %}
                                      {% if post_image.images %}
                                        <div class="col">
                                          <a href="{% url 'gallery' %}">
                                            <img src="{{ post_image.images.url }}" class="card-img-top mt-3" alt="..." style="max-width:300px; height: 200px; max-height: 200px; object-fit: cover;">
                                          </a>
                                        </div>
                                        {% if forloop.counter == 2 %}
                                          </div>
                                          <div class="row">
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                  </div>
                                </div>
                                <div class="card-body">
                                  <a href="{% url 'gallery' %}">
                                    <h5 class="card-title">{{ post.name }}</h5>
                                  </a>
                                  <p class="card-text">{{ post.caption }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">{{ post.created_at|timesince }} ago</li>
                                  <li class="list-group-item">AlBUM</li>
                                </ul>
                              </div>
                            {% endfor %}
                            {% for post in posts %}
                              <div class="card mb-5 border-0" style="max-width: 40rem; margin: auto; text-align-last: center;">
                                <div class="container text-center">
                                  <div class="row">
                                                                        {% if post.postimages_set.all %}
                                    {% for post_image in post.postimages_set.all %}
                                      {% if post_image.images %}
                                        <div class="col">
                                          <a href="{% url 'post_detail' post.category.slug post.slug %}">
                                            <img src="{{ post_image.images.url }}" class="card-img-top mt-3" alt="..." style="max-width:300px; height: 200px; max-height: 200px; object-fit: cover;">
                                          </a>
                                        </div>
                                        {% if forloop.counter == 2 %}
                                          </div>
                                          <div class="row">
                                        {% endif %}
                                      {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    {% for post_image in post.image.all %}
                                      {% if post_image.images %}
                                        <div class="col">
                                          <a href="{% url 'post_detail' post.category.slug post.slug %}">
                                            <img src="{{ post_image.images.url }}" class="card-img-top mt-3" alt="..." style="max-width:300px; height: 200px; max-height: 200px; object-fit: cover;">
                                          </a>
                                        </div>
                                        {% if forloop.counter == 2 %}
                                          </div>
                                          <div class="row">
                                        {% endif %}
                                      {% endif %}
                                      {% endfor %}
                                      {% endif %}
                                  </div>
                                </div>
                                <div class="card-body">
                                  <a href="{% url 'post_detail' post.category.slug post.slug %}">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                  </a>
                                  <p class="card-text">{{ post.intro }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item" style="background-color: #008001; color: #ffffff;">{{ post.created_at|timesince }} ago</li>
                                  <li class="list-group-item" style="background-color: #66b365; color: #ffffff;">Comments: {{ post.comments.count }}</li>
                                </ul>
                              </div>
                            {% empty %}
                              <div class="content">
                                <p>There is currently no post</p>
                              </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}