{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% block title %}{{ post.title }} | {% endblock %}

{% block content %}
<section class="single-post-content">
      <div class="container">
            <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <div><a href="{% url 'allpost' %}" class="more">Back To All Post</a></div>
            </div>
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="col-lg-4">
              <div class="post-entry-1 lg">
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="assets/img/person-1.jpg" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">{{post.author}}</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="single-post">
              <div class="post-meta"><span class="date">Posted</span> <span class="mx-1">&bullet;</span> <span>{{post.created_at|date:"Y-m-d"}}</span></div>
              <h1 class="mb-5">{{post.title}}</h1>
              <div id="carouselExampleFade" class="carousel slide">
                <div class="carousel-inner">
                  {% for post_image in post.postimages_set.all %}
                    {% if post_image.images %}
                      <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <a href="{{ post_image.images.url }}"><img src="{{ post_image.images.url }}" style="max-height: 700px; object-fit: scale-down;" class="d-block w-100" alt="..."></a> 
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <p>{{post.intro|slice:":1"}}{{post.intro}}</p>
              <p>{{post.body}}</p>
              </div><!-- End Single Post Content -->

              <hr style="color: #008001;" class="hr" />

            <!-- ======= Comments ======= -->
            <div class="comments">
              <h5 class="comment-title py-4">Comments: {{ post.comments.all|length|default:"0" }}</h5>
              {% for comment in post.comments.all %}
              <div class="comment d-flex mb-4">
                <div class="flex-shrink-0">
                  <div class="avatar avatar-sm rounded-circle">
                    <!-- <img class="avatar-img" src="/static/assets/img/.jpg" alt="" class="img-fluid"> -->
                  </div>
                </div>
                <div class="flex-grow-1 ms-2 ms-sm-3">
                  <div class="comment-meta d-flex align-items-baseline">
                    <h6 class="me-2">{{comment.name}}</h6>
                    <span class="text-muted">{{comment.created_at|timesince}}</span>
                  </div>
                  <div class="comment-body">
                    {{comment.body}}
                  </div>
                  <!-- <div class="comment-replies bg-light p-3 mt-3 rounded">
                    <h6 class="comment-replies-title mb-4 text-muted text-uppercase">2 replies</h6>

                    <div class="reply d-flex mb-4">
                      <div class="flex-shrink-0">
                        <div class="avatar avatar-sm rounded-circle">
                          <img class="avatar-img" src="assets/img/person-4.jpg" alt="" class="img-fluid">
                        </div>
                      </div>
                      <div class="flex-grow-1 ms-2 ms-sm-3">
                        <div class="reply-meta d-flex align-items-baseline">
                          <h6 class="mb-0 me-2">to be updated</h6>
                          <span class="text-muted">2d</span>
                        </div>
                        <div class="reply-body">
                          to be updated
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
              {% endfor %}
            </div><!-- End Comments -->

            <hr class="hr" />

            <!-- ======= Comments Form ======= -->
            <div class="row justify-content-center mt-5">

              <div class="col-lg-12">
                <h5 class="comment-title">Leave a Comment</h5>
                <div class="row">
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                      <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                      </div>
                    {% endfor %}
                    <button class="butn btn btn-lg mt-4 w-100">Post comment</button>
                  </form>
                </div>
              </div>
            </div><!-- End Comments Form -->

          </div>
          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Latest Post</button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">

                <!-- Popular -->
                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">

                  <div class="post-entry-1 border-bottom">
                    {% for post in posts %}
                    <div class="post-meta"><span class="date">Post</span> <span class="mx-1">&bullet;</span> <span>{{post.created_at|date:"Y-m-d"}}</span></div>
                    <h2 class="mb-2"><a href="#">{{post.title}}</a></h2>
                    <span class="author mb-3 d-block">User : {{ post.author}}</span>
                    {% endfor %}
                  </div>
                </div> <!-- End Popular -->

              </div>
            </div>

            <div class="aside-block">
              <h3 class="aside-title">Options</h3>
              <ul class="aside-links list-unstyled">
                <li><a href="{% url 'allpost' %}"><i class="bi bi-chevron-right"></i> All Posts</a></li>
                <li><a href="{% url 'community' %}"><i class="bi bi-chevron-right"></i> Categories</a></li>
                <li><a href="{% url 'facts' %}"><i class="bi bi-chevron-right"></i> FAQs</a></li>
              </ul>
            </div><!-- End Categories -->

          </div>
        </div>
      </div>
    </section>
    {% endblock %}
<!-- <section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                {% if post.image %}
                    <figure class="image mb-6">
                        <img src="{{ post.image.url }}">
                    </figure>
                {% endif %}

                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">

                            <h2 class="subtitle is-4">{{ post.created_at|timesince }} ago</h2>
                            <h1 class="title">{{ post.title }}</h1>
                            <p><strong>{{ post.intro }}</strong></p>
                            <p>{{ post.body }}</p>

                            <p><small>Category: <a href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a></small></p>

                            <hr>

                            <h2 class="subtitle is-4">Comments</h2>

                            <form action="" method="post" class="mb-6">
                                {% csrf_token %}

                                {{ form.as_p }}

                                <div class="field">
                                    <div class="control">
                                        <button class="button is-success">Submit comment</button>
                                    </div>
                                </div>
                            </form>

                            {% for comment in post.comments.all %}
                                <article class="media box">
                                    <div class="media-content">
                                        <strong>{{ comment.name }}</strong> <small>{{ comment.created_at|timesince }} ago</small><br>
                                        {{ comment.body }}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section> -->