{% extends 'core/base.html' %}
{% load static %}

{% block content %}


  <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                {% for slide in slides%}
                <div class="swiper-slide">
                  <a href="{{slide.image.url}}" class="img-bg d-flex align-items-end" style="background-image: url('{{slide.image.url}}');">
                    <div class="img-bg-inner">
                      <h2>{{ slide.name}}</h2>
                      <p>{{ slide.detail}} {{slide.caption }}</p>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= news ======= -->
    <section>
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
            {% for news in news_posts|slice:":3" %}
              <div class="col">

                <div class="card-body">
                  {% for post_image in news.postimages_set.all %}
                  {% if forloop.first %}
                    {% if post_image.images %}
                      <a href="{% url 'post_detail' news.category.slug news.slug %}">
                        <img src="{{ post_image.images.url }}" class="d-block w-100 indexnews" alt="...">
                      </a>
                    {% else %}
                      <a href="{% url 'post_detail' news.category.slug news.slug %}">
                        <img src="/static/assets/img/NEWS.png" class="d-block w-100 indexnews" alt="...">
                      </a>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                  <h6 style="text-align: center" class="card-title indextext">{{ news.title }}</h6>
                  <!-- <p style="font-size: 13px;" class="card-text indextext">{{ news.intro|truncatechars:100 }}</p> -->
                </div>
              </div>
            {% endfor %}
              {% if news_posts|length == 2 %}
                <div class="col"><img src="/static/assets/img/NEWS.png" class="d-block w-100 indexnews" alt="..."></div>
                {%elif news_posts|length == 1 %}
                <div class="col"><img src="/static/assets/img/NEWS.png" class="d-block w-100 indexnews" alt="..."></div>
                <div class="col"><img src="/static/assets/img/NEWS.png" class="d-block w-100 indexnews" alt="..."></div>
                {% else %}
                {% endif %}
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              {% if news_posts|length >= 6 %}
                {% for news in news_posts|slice:"3:"|slice:":3" %}
                  <div class="col">

                    <div class="card-body">
                                          {% for post_image in news.postimages_set.all %}
                    {% if forloop.first %}
                    {% if post_image.images %}
                      <a href="{% url 'post_detail' news.category.slug news.slug %}"><img src="{{post_image.images.url}}" class="d-block w-100 indexnews" alt="..."></a>
                      {% else %}
                        <a href="{% url 'post_detail' news.category.slug news.slug %}"><img src="/static/assets/img/NEWS.png" class="d-block w-100 indexnews" alt="..."></a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                      <h6 style="text-align: center" class="card-title indextext">{{news.title}}</h6>
                      <!-- <p style="font-size: 13px;" class="card-text indextext">{{news.intro|truncatechars:100}}</p> -->
                    </div>
                  </div>
                {% endfor %}
              {% elif news_posts|length == 5 %}
                {% for news in news_posts|slice:"2:"|slice:":3" %}
                  <div class="col">

                    <div class="card-body">
                                          {% for post_image in news.postimages_set.all %}
                    {% if forloop.first%}
                    {% if post_image.images %}
                      <a href="{% url 'post_detail' news.category.slug news.slug %}"><img src="{{post_image.images.url}}" class="d-block w-100 indexnews" alt="..."></a>
                      {% else %}
                <a href="{% url 'post_detail' news.category.slug news.slug %}"><img src="/static/assets/img/NEWS.png" class="d-block w-100 indexnews" alt="..."></a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                      <h6 style="text-align: center" class="card-title indextext">{{news.title}}</h6>
                      <!-- <p style="font-size: 13px;" class="card-text indextext">{{news.intro|truncatechars:100}}</p> -->
                    </div>
                  </div>
                {% endfor %}
              {% elif news_posts|length == 4 %}
                {% for news in news_posts|slice:"1:"|slice:":3" %}
                  <div class="col">

                    <div class="card-body">
                                          {% for post_image in news.postimages_set.all %}
                    {% if forloop.first %}
                    {% if post_image.images %}
                      <a href="{% url 'post_detail' news.category.slug news.slug %}"><img src="{{post_image.images.url}}" class="d-block w-100 indexnews" alt="..."></a>
                      {% else %}
                    <a href="{% url 'post_detail' news.category.slug news.slug %}"><img src="/static/assets/img/NEWS.png" class="d-block w-100 indexnews" alt="..."></a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                      <h6 style="text-align: center" class="card-title indextext">{{news.title}}</h6>
                      <!-- <p style="font-size: 13px;" class="card-text indextext">{{news.intro|truncatechars:100}}</p> -->
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
            {% if news_posts|length > 3 %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          {% endif %}
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->
  <!-- news -->

    <!-- ======= events ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <hr class="hr" />

          <!-- Trending Section -->
          <div class="col-lg-5">

            <div class="trending">
              <h3>Latest News</h3>
              <ul class="trending-post">
                {% for news in news_posts%}
                {% if news.category and news.category.slug %}
                <li>
                  <a href="{% url 'post_detail' news.category.slug news.slug %}">
                    <span class="number">{{forloop.counter}}</span>
                    <h3>{{news.title}}</h3>
                    <span class="author">{{news.author}}</span>
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
            {% if news.category and news.category.slug %}
            <a href="{% url 'category_detail' slug='news' %}"><p class="text-end">View all news</p></a>
            {% endif %}

          </div> <!-- End Trending Section -->

          <div class="col">
            <div class="post-entry-1 lg">
              {% if new_events.slug %}
              <h2><a href="{% url 'post_detail' new_events.category.slug new_events.slug %}">Events this month</a></h2>
              {% for image in new_events.postimages_set.all %}
              {% if forloop.first %}
              {% if image.images %}
              <a href="{% url 'post_detail' new_events.category.slug new_events.slug %}"><img src="{{image.images.url}}" style="max-height: 400px; object-fit: contain;" alt="" class="img-fluid"></a>
              {% endif %}
              {% endif %}
              {% endfor %}
              <div class="post-meta"><span class="date">Event</span> <span class="mx-1">&bullet;</span> <span>{{new_events.created_at|date:"Y-m-d"}}</span></div>
              <p class="mb-4 d-block"><a href="{% url 'post_detail' new_events.category.slug new_events.slug %}">{{new_events.intro}}</a></p>

              <div class="d-flex align-items-center author">
                <div class="name">
                  <h3 class="m-0 p-0">{{new_events.author}}</h3>
                </div>
              </div>
              <a href="{% url 'category_detail' slug='events' %}"><p class="text-end">See all events</p></a>
              {% endif %}
            </div>

          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- events -->
    <!-- ======= cmi map ======= -->
    <section id="posts" class="posts">

      <div class="container" data-aos="fade-up">
            <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <div><a href="{% url 'cmi' %}" class="more"></a></div>
            </div>
            <div class="text-center mb-md-5"><a href="{% url 'cmi' %}"><h1>Consortium Member Institutions</h1></a></div>
            {% if map %}
            <div class="justify-content-center" id="map">{{ map|safe }}</div>
                <script>
                    {{ popup_script|safe }}
                </script>
            {% endif %}
      </div>
    </section> <!-- cmi map -->


{% endblock %}
