{% extends 'core/base.html' %}
{% load static %}

{% block content %}


  <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                {% for slide in slides%}
                <div class="swiper-slide">
                  <a href="{{slide.image.url}}" class="img-bg d-flex align-items-end" style="background-image: url('{{slide.image.url}}');">
                    <div class="img-bg-inner">
                      <h2>{{ slide.name}}</h2>
                      <p>{{ slide.detail}} {{slide.caption }}</p>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= news ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container" data-aos="fade-in">
          <div class="row">
              <div class="d-flex justify-content-end">
                  <a href="#">
                      <i class="fa fa-arrow-left"></i>
                  </a>
                  <a href="#">
                      <i class="fa fa-arrow-right"></i>
                  </a>
              </div>

              <div class="swiper2 sliderFeaturedPosts2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    
                    <div class="carousel-item active">
                      <div class="row">
                        {% for news in news_posts|slice:"3" %}
                          <div class="col-md-4 mb-3">
                              <div class="card">
                                  <img class="img-fluid" style="object-fit: cover; width: 100%; height: 280px;" alt="100%x280" src="{{news.image.url}}">
                                  <div class="card-body">
                                      <h4 class="card-title">{{news.title}}</h4>
                                      <p class="card-text">{{news.body}}</p>

                                  </div>
                              </div>
                          </div>
                          {% endfor %}
                        </div>

                      </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- news -->

    <!-- ======= events ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <hr class="hr" />

          <!-- Trending Section -->
          <div class="col-lg-4">

            <div class="trending">
              <h3>Latest News</h3>
              <ul class="trending-post">
                {% for news in news_posts%}
                {% if news.category and news.category.slug %}
                <li>
                  <a href="{% url 'post_detail' news.category.slug news.slug %}">
                    <span class="number">1</span>
                    <h3>{{news.title}}</h3>
                    <span class="author">{{news.author}}</span>
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
            {% if news.category and news.category.slug %}
            <a href="{% url 'category_detail' slug='news' %}"><p class="text-end">View all news</p></a>
            {% endif %}

          </div> <!-- End Trending Section -->

          <div class="col">
            <div class="post-entry-1 lg">
              {% if news_events.category.slug %}
              <h2><a href="{% url 'category_detail' new_events.category.slug %}">Events this month</a></h2>
              <a href="{  % url 'category_detail' new_events.category.slug %}"><img src="{{new_events.image.url}}" alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="date">Event</span> <span class="mx-1">&bullet;</span> <span>{{new_events.created_at}}</span></div>
              <p class="mb-4 d-block">{{new_events.body}}</p>

              <div class="d-flex align-items-center author">
                <div class="name">
                  <h3 class="m-0 p-0">{{new_events.author}}</h3>
                </div>
              </div>
              <a href="{% url 'category_detail' slug='events' %}"><p class="text-end">See all events</p></a>
              {% endif %}
            </div>

          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- events -->
    <!-- ======= cmi map ======= -->
    <section id="posts" class="posts">
      
      <div class="container" data-aos="fade-up">
            <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <div><a href="{% url 'cmi' %}" class="more"></a></div>
            </div>
            <div class="text-center mb-md-5"><a href="{% url 'cmi' %}"><h1>Consortium Member Institutions</h1></a></div>
            <div class="justify-content-center" id="map">{{ map|safe }}</div>
      </div>
    </section> <!-- cmi map -->

    
{% endblock %}
