{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
          </div>
        </div>

        <div class="row mb-5">

          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src="/static/assets/img/post-landscape-2.jpg" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">About us</div>
              <h2 class="mb-4 display-4">The Consortium</h2>

              <p>{{ consortium.consortium_desc }}</p>
              <p>{{ consortium.consortium_objectives }}</p>
            </div>
          </div>
            
          <!-- vision mission update --------------------------------------------------------------->
          <div class="d-md-flex post-entry-2 half mt-5">
            <div class="pe-md-5 mt-4 mt-md-0">
              <h2 class="cmdtitle mb-4 display-4 text-center">Vision</h2>

              <p>{{ consortium.vision }}</p>
            </div>
            <div class="pe-md-5 mt-4 mt-md-0">
              <h2 class="cmdtitle mb-4 display-4 text-center">Mission</h2>

              <p>{{ consortium.mission }}</p>
            </div>
          </div>
          <!-- end vision mission update ----------------------------------------------------------->

          <div class="d-md-flex post-entry-2 half mt-5">
            <div class="pe-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">Vision</div>
              <h2 class="mb-4 display-4">Vision</h2>

              <p>{{ consortium.vision }}</p>
            </div>
          </div>

          <div class="d-md-flex post-entry-2 half mt-5">
            <div class="pe-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">Mission</div>
              <h2 class="mb-4 display-4">Mission</h2>

              <p>{{ consortium.mission }}</p>
            </div>
          </div>

        </div>

      </div>
    </section>
{% endblock %}
