{% extends 'core/base.html' %}

{% block title %}{{ category.title }} | {% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container" data-aos="fade-up">
                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                <h2>{{albums.name}}</h2>
                <div><a href="{% url 'gallery' %}" class="more">Back to Gallery</a></div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card-container">
                            {% for photo in albumphotos %}
                                <div class="card" style="width: 25rem;">
                                    <img src="{{ photo.image.url }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ photo.name }}</h5>
                                        <p class="card-text">{{ photo.caption }}</p>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="content">
                                    <p>There are no photos in this album...</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .card {
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
    }
</style>
{% endblock %}