{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <section class="about-breadcrumb">
      <div class="container d-flex flex-column">
          <nav class="justify-content-start">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item fs-5"><a href="{% url 'community' %}">Categories</a></li>
                  <li class="breadcrumb-item fs-5"><a active href="{% url 'allpost' %}">All Posts</a></li>
                  <li class="breadcrumb-item fs-5"><a href="{% url 'mypost' %}">My Posts</a></li>
                  <li class="breadcrumb-item fs-5"><a href="{% url 'facts' %}">FAQs</a></li>
              </ol>
          </nav>
      </div>
    </section>

    <div class="col d-flex justify-content-center" data-aos="fade-in">
        <div class="container my-5" style="max-width: 1305px;">
            <!-- old breadcrumb----------------------------------------------------------------
    <div class="i-am-centered">
        <div class="card text-center">
          <div class="card-header" style="width: 80rem;">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'community' %}">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'allpost' %}">All Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'mypost' %}">My Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'facts' %}">FAQs</a>
              </li>
            </ul>
          </div> ----------------------------------------------------------- old breadcrumb -->
          {% if user.is_authenticated%}
          <div class="col d-flex justify-content-center">
            <a href="{% url 'postcreateview' %}"><button type="button" class="btn btn-success btn-lg">Add new post</button></a>
          </div>
          {% endif %}
          <div class="col d-flex justify-content-center">
            <div class="container my-5" style="max-width: 1200px;">
            <div class="row">
                          <div class="column is-8 is-offset-2 align-items-center">
                            <h1>{{category.title}}</h1>
                            <hr>
                            {% for post in page_obj %}
                            <div class="card mb-5" style="width:35rem; margin: auto; text-align-last: center;">
                                <a href="{% url 'post_detail' post.category.slug post.slug %}"><img src="{{ post.image.url }}" class="card-img-top mt-3" alt="..." style=" max-width: 80%;"></a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.intro }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ post.created_at|timesince }} ago</li>
                                    <li class="list-group-item">Comments: {{post.comments.count}}</li>
                                </ul>
                            </div>
                            {% empty %}
                                <div class="content">
                                    <p>There is currently no post</p>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Display pagination links -->
                            <div class="card text-center" style="border: none;">
                              <nav aria-label="Page navigation example">
                                  <ul class="pagination justify-content-end">
                                      <div class="text-start py-4">
                                          <div class="custom-pagination">
                                              {% if page_obj.has_previous %}
                                                  <a href="?page={{ page_obj.previous_page_number }}" class="prev">Previous</a>
                                              {% endif %}
                                              {% for num in page_obj.paginator.page_range %}
                                                  {% if num == page_obj.number %}
                                                      <a href="?page={{ num }}" class="active">{{ num }}</a>
                                                  {% elif num > page_obj.number|add:'-10' and num < page_obj.number|add:'10' %}
                                                      <a href="?page={{ num }}">{{ num }}</a>
                                                  {% endif %}
                                              {% endfor %}
                                              {% if page_obj.has_next %}
                                                  <a href="?page={{ page_obj.next_page_number }}" class="next">Next</a>
                                              {% endif %}
                                          </div>
                                      </div>
                                  </ul>
                              </nav>
                          </div>         
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>   
    </div>
        </div>
  </section>
          <style>
    .btn{
      margin: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    .card{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .new{
        width: 60rem;
        margin: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    .ryt{
      margin-top: 20px;
    }
    .hr{
      margin-bottom: 25px;
      margin-top: 25px;
    }
  </style>
{% endblock %}