{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<style>
#green{
  color: #43B14B;
}

</style>

    <section>
      <div class="container" data-aos="fade-up">
            <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <div><a href="{% url 'cmi' %}" class="more">Back to CMI</a></div>
            </div>
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">{{cmi.name}}</h1>
          </div>
        </div>

        <div class="row mb-5">

          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src="{{cmi.logo_url}}" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">{{cmi.name}}</div>
              <h2 class="mb-4 display-4">{{cmi.name}}</h2>

              <p>{{cmi.detail}}</p>
            </div>
          </div>
            <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <!-- <div class="page-title"> Representative </div> -->
            </div>
          <!-- <div class="album py-5 bg-light">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-4 row-cols-md-4 g-5">
                <div class="col">
                  <div class="card shadow-sm">

                    <img src="/static/assets/img/unknown.jpg" alt="Default Image">

                    <div class="card-body text-center">
                      <p class="card-text" id="green">DIR. PHLORITA A. RIDAO</p>
                      <p class="card-text"> Regional Research and Development Coordinating Committee </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="/static/assets/img/unknown.jpg" alt="Default Image">
                    <div class="card-body text-center">
                      <p class="card-text" id="green">MS. DIVINE GRACE P. DEQUITO</p>
                      <p class="card-text"> Research and Development </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                
                    <img src="/static/assets/img/unknown.jpg" alt="Default Image">
  
                    <div class="card-body text-center">
                      <p class="card-text" id="green">MS. MA. NELIDA A. ROJAS</p>
                      <p class="card-text"> Technology Transfer </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                
                    <img src="/static/assets/img/unknown.jpg" alt="Default Image">
  
                    <div class="card-body text-center">
                      <p class="card-text" id="green">MS. DARYLL L. CABICO</p>
                      <p class="card-text"> Knowledge Management </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

        </div>

      </div>
    </section>
      {% endblock %}