{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  <section>
    <div class="container" data-aos="fade-up">
      <div class="col d-flex justify-content-center">
        <div class="card text-center" style="border: none;">
            <div class="card-body">
                <h1 class="card-title">Consortium Member Institutions</h1>
                <h5 class="card-text">These institutions are considered organic and/or regular members of the consortium. However, when appropriate, WESMAARRDEC may allow qualified research and development institutions, local government units, non-government organizations and private sectors in the region to become members as approved by the Regional Research and Development Coordinating Committee (RRDCC). The private sectors includes the companies and  profit-organizations that may be willing to fund R&D activities.</h5>
                <p> <br> </p>
            </div>

          <div class="container">
            <div class="row justify-content-center">
              {% for cmi in cmilist %}
                {% if forloop.counter0|divisibleby:5 %}
                  </div>
                  <div class="card-group justify-content-center" >
                {% endif %}
                <div class="card" style="width: 10rem; border: none; margin: 10px; max-width: 200px;">
                  {% if cmi.cmi_id %}
                  <a href="{% url 'cmidetail' cmi_id=cmi.cmi_id %}"><img class="card-img-top" src="{{cmi.logo_url}}" style=" width: 200px; max-width: 200px; height: 200px; max-height: 200px; object-fit: scale-down;" alt="Card image cap"></a>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{cmi.agency_code}}</h5>
                    <p class="card-text">{{cmi.name}}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

      </div>
    </div>
  </div>
</section>

 {% endblock %}

  <style>
    .card-group{
        margin-top: 10px;
        margin-bottom: 10px;
        margin: 10px;
    }
    .card{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .card-img-top{
      margin: 2px;
    }
  </style>