{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  <section>
        <div class="container" data-aos="fade-up">
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="border: none;">
            <div class="card-body">
                <h1 class="card-title">Consortium Member Institutions</h1>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="col d-flex justify-content-center">
                <div class="card text-center" style="border: none;">
                    <div class="card-group" style="width: 80rem; border: none;">
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/1 NEDA.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Subtitle</p>
                           </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/2 DENR-ERDB-FWRDEC.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Subtitle</p>
                          </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/3 DOST.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Subtitle</p>
                          </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/4 DA-BAR.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Title</h5>
                              <p class="card-text">Subtitle</p>
                            </div>
                          </div>
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/5 JRMSU - Katipunan.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Title</h5>
                              <p class="card-text">Subtitle</p>
                            </div>
                          </div>
                      </div>
                  </div>
                  
                </div>
        
                <div class="col d-flex justify-content-center">
                    <div class="card text-center" style="border: none;">
                        <div class="card-group" style="width: 80rem;">
                            <div class="card" style="width: 10rem; border: none; margin: 10px;">
                              <img class="card-img-top" src="/static/assets/img/6 JRMSU - Tampilisan.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text">Subtitle</p>
                               </div>
                            </div>
                            <div class="card" style="width: 10rem; border: none; margin: 10px;">
                              <img class="card-img-top" src="/static/assets/img/7 JRMSU - Dapitan.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text">Subtitle</p>
                              </div>
                            </div>
                            <div class="card" style="width: 10rem; border: none; margin: 10px;">
                              <img class="card-img-top" src="/static/assets/img/8 DA PHILFIDA.png" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text">Subtitle</p>
                              </div>
                            </div>
                            <div class="card" style="width: 10rem; border: none; margin: 10px;">
                                <img class="card-img-top" src="/static/assets/img/WMSU New.png" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Title</h5>
                                  <p class="card-text">Subtitle</p>
                                </div>
                              </div>
                              <div class="card" style="width: 10rem; border: none; margin: 10px;">
                                <img class="card-img-top" src="/static/assets/img/PCAARRD.png" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Title</h5>
                                  <p class="card-text">Subtitle</p>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                </div>

                <div class="col d-flex justify-content-center">
                  <div class="card text-center" style="border: none;">
                      <div class="card-group" style="width: 80rem;">
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/11 JHCSC.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Title</h5>
                              <p class="card-text">Subtitle</p>
                             </div>
                          </div>
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/12 PCA-ZRC.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Title</h5>
                              <p class="card-text">Subtitle</p>
                            </div>
                          </div>
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/13 DA 9.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Title</h5>
                              <p class="card-text">Subtitle</p>
                            </div>
                          </div>
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                              <img class="card-img-top" src="/static/assets/img/14 DA ATI IX.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text">Subtitle</p>
                              </div>
                            </div>
                            <div class="card" style="width: 10rem; border: none; margin: 10px;">
                              <img class="card-img-top" src="/static/assets/img/15 DTI.png" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text">Subtitle</p>
                              </div>
                          </div>
                      </div>
                  </div>
                    
              </div>

              <div class="col d-flex justify-content-center">
                <div class="card text-center" style="border: none;">
                    <div class="card-group" style="width: 80rem;">
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/16 BFAR IX.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Subtitle</p>
                           </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/17 ZSCMST.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Subtitle</p>
                          </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/18 PRRI.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Subtitle</p>
                          </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/19 MSU-BUUG.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Title</h5>
                              <p class="card-text">Subtitle</p>
                            </div>
                          </div>
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/20 MSU-Tawi Tawi.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Title</h5>
                              <p class="card-text">Subtitle</p>
                            </div>
                        </div>
                    </div>
                </div>
                  
            </div>

            <div class="col d-flex justify-content-center">
              <div class="card text-center" style="border: none;">
                  <div class="card-group" style="width: 80rem;">
                      <div class="card" style="width: 10rem; border: none; margin: 10px;">
                        <img class="card-img-top" src="/static/assets/img/21 BaSC.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Title</h5>
                          <p class="card-text">Subtitle</p>
                         </div>
                      </div>
                      <div class="card" style="width: 10rem; border: none; margin: 10px;">
                        <img class="card-img-top" src="/static/assets/img/22 ZC.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Title</h5>
                          <p class="card-text">Subtitle</p>
                        </div>
                      </div>
                      <div class="card" style="width: 10rem; border: none; margin: 10px;">
                        <img class="card-img-top" src="/static/assets/img/23 SSC.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Title</h5>
                          <p class="card-text">Subtitle</p>
                        </div>
                      </div>
                      <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/24 TRAC.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Subtitle</p>
                          </div>
                        </div>
                  </div>
              </div>
                
          </div>
                
        </div>
    </div>
        </div>
  </section>
    
 {% endblock %}

  <style>
    .card-group{
        margin-top: 10px;
        margin-bottom: 10px;
        margin: 10px;
    }
    .card{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .card-img-top{
      margin: 2px;
    }
  </style>