{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  <section>
        <div class="container" data-aos="fade-up">
    <div class="col d-flex justify-content-center">
        <div class="card text-center" style="border: none;">
            <div class="card-body">
                <h1 class="card-title">Consortium Member Institutions</h1>
                <h5 class="card-text">These institutions are considered organic and/or regular members of the consortium. However, when appropriate, WESMAARRDEC may allow qualified research and development institutions, local government units, non-government organizations and private sectors in the region to become members as approved by the Regional Research and Development Coordinating Committee (RRDCC). The private sectors includes the companies and  profit-organizations that may be willing to fund R&D activities.</h5>
                <p> <br> </p>
            </div>

                <div class="container">
                  <div class="row justify-content-center">
                    <div class="card-group" style="width: 80rem;">
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <a href="{% url 'cmidetail' %}"><img class="card-img-top" src="/static/assets/img/1 NEDA.png" alt="Card image cap"></a>
                          <div class="card-body">
                            <h5 class="card-title">NEDA IX</h5>
                            <p class="card-text">National Economic and Development Authority - Region IX</p>
                           </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/2 DENR-ERDB-FWRDEC.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">DENR - ERDB - FWRDEC</h5>
                            <p class="card-text">Department of Environment and Natural Resources - Ecosystems Research and Development Bureau - Forest and Wetland Research, Development and Extension Center</p>
                          </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/3 DOST.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">DOST IX</h5>
                            <p class="card-text">Department of Science and Technology - Region IX</p>
                          </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/4 DA-BAR.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">DA - BAR</h5>
                              <p class="card-text">Department of Agriculture - Bureau of Agricultural Research</p>
                            </div>
                          </div>
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/5 JRMSU - Katipunan.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">JRMSU - Katipunan</h5>
                              <p class="card-text">Jose Rizal Memorial State College - Katipunan</p>
                            </div>
                          </div>
                      </div>
                  </div>
                  
                </div>
        
                      <div class="container">
                        <div class="row justify-content-center">
                          <div class="card-group" style="width: 80rem;">
                            <div class="card" style="width: 10rem; border: none; margin: 10px;">
                              <img class="card-img-top" src="/static/assets/img/6 JRMSU - Tampilisan.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">JRMSU - Tampilisan</h5>
                                <p class="card-text">Jose Rizal Memorial State College - Tampilisan</p>
                               </div>
                            </div>
                            <div class="card" style="width: 10rem; border: none; margin: 10px;">
                              <img class="card-img-top" src="/static/assets/img/7 JRMSU - Dapitan.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">JRMSU - Dapitan</h5>
                                <p class="card-text">Jose Rizal Memorial State College - Dapitan</p>
                              </div>
                            </div>
                            <div class="card" style="width: 10rem; border: none; margin: 10px;">
                              <img class="card-img-top" src="/static/assets/img/8 DA PHILFIDA.png" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">PHILFIDA IX</h5>
                                <p class="card-text">Philippine Fiber Industry Development Authority - Region IX</p>
                              </div>
                            </div>
                            <div class="card" style="width: 10rem; border: none; margin: 10px;">
                                <img class="card-img-top" src="/static/assets/img/WMSU New.png" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">WMSU</h5>
                                  <p class="card-text">Western Mindanao State University</p>
                                </div>
                              </div>
                              <div class="card" style="width: 10rem; border: none; margin: 10px;">
                                <img class="card-img-top" src="/static/assets/img/PCAARRD.png" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">DOST - PCAARRD</h5>
                                  <p class="card-text">Department of Science and Technology - Philippine Council for Agriculture, Aquatic and Natural Resources, Research and Development</p>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                </div>

                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="card-group" style="width: 80rem;">
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/11 JHCSC.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">JHCSC</h5>
                              <p class="card-text">Josefina H. Cerilles State College</p>
                             </div>
                          </div>
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/12 PCA-ZRC.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">PCA - ZRC</h5>
                              <p class="card-text">Philippine Coconut Authority - Zamboanga Research Center</p>
                            </div>
                          </div>
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/13 DA 9.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">DA - BAR</h5>
                              <p class="card-text">Department of Agriculture - Bureau of Agricultural Research</p>
                            </div>
                          </div>
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                              <img class="card-img-top" src="/static/assets/img/14 DA ATI IX.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">ATI - RTC IX</h5>
                                <p class="card-text">Agricultural Training Institute - Regional Training Center IX</p>
                              </div>
                            </div>
                            <div class="card" style="width: 10rem; border: none; margin: 10px;">
                              <img class="card-img-top" src="/static/assets/img/15 DTI.png" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">DTI IX</h5>
                                <p class="card-text">Department of Trade and Industry - Region IX</p>
                              </div>
                          </div>
                      </div>
                  </div>
                    
              </div>

                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="card-group" style="width: 80rem;">
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/16 BFAR IX.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">BFAR IX</h5>
                            <p class="card-text">Bureau of Fisheries and Aquatic Resources - Region IX</p>
                           </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/17 ZSCMST.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">ZSCMST</h5>
                            <p class="card-text">Zamboanga State College of Marine Science and Technology</p>
                          </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/18 PRRI.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">PRRI IX</h5>
                            <p class="card-text">Philippine Rubber Research Institute - Region IX</p>
                          </div>
                        </div>
                        <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/19 MSU-BUUG.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">MSU - Buug</h5>
                              <p class="card-text">Mindanao State University - Buug Campus</p>
                            </div>
                          </div>
                          <div class="card" style="width: 10rem; border: none; margin: 10px;">
                            <img class="card-img-top" src="/static/assets/img/20 MSU-Tawi Tawi.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">MSU - TCTO</h5>
                              <p class="card-text">Mindanao State University - College of Technology & Oceanography</p>
                            </div>
                        </div>
                    </div>
                </div>
                  
            </div>

                <div class="container">
                  <div class="row justify-content-center">
                    <div class="card-group" style="width: 80rem;">
                      <div class="card" style="width: 10rem; border: none; margin: 10px;">
                        <img class="card-img-top" src="/static/assets/img/21 BaSC.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">BaSC</h5>
                          <p class="card-text">Basilan State College</p>
                         </div>
                      </div>
                      <div class="card" style="width: 10rem; border: none; margin: 10px;">
                        <img class="card-img-top" src="/static/assets/img/22 ZC.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">OCA - ZC</h5>
                          <p class="card-text">Office of the City Agriculturist - Zamboanga City</p>
                        </div>
                      </div>
                      <div class="card" style="width: 10rem; border: none; margin: 10px;">
                        <img class="card-img-top" src="/static/assets/img/23 SSC.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Title</h5>
                          <p class="card-text">Subtitle</p>
                        </div>
                      </div>
                      <div class="card" style="width: 10rem; border: none; margin: 10px;">
                          <img class="card-img-top" src="/static/assets/img/24 TRAC.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Subtitle</p>
                          </div>
                        </div>
                  </div>
              </div>
                
          </div>
                
        </div>
    </div>
        </div>
  </section>
    
 {% endblock %}

  <style>
    .card-group{
        margin-top: 10px;
        margin-bottom: 10px;
        margin: 10px;
    }
    .card{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .card-img-top{
      margin: 2px;
    }
  </style>