{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section>
      <div class="container" data-aos="fade-up">
        <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <h2>{{ commodities.name }}</h2> <!-- commodity name -->
            <div><a href="{% url 'commodities' %}" class="more">See all commodities</a></div>
          </div>
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="row justify-content-center">

              <section class="mb-5 bg-light py-5">
                <div class="container" data-aos="fade-up">
                  <div class="row justify-content-between align-items-lg-center">
                    <div class="col-lg-5 mb-4 mb-lg-0">
                      <h2 class="cmdtitle display-4 mb-4">{{ commodite.name }}</h2>
                      <p class="cmdbody">{{ commodite.detail}}</p>
                      <p></p>
                    </div>
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-6">
                          <img src="{{ commodite.img_url }}" alt="" class="img-fluid mb-4">
                        </div>
                        <div class="col-6 mt-4">
                          <img src="{{ commodite.img_url }}" alt="" class="img-fluid mb-4">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>

            <hr class="hr" />

            <h1 class="page-title">How can we help?</h1>

            <div class="row gy-4" style="margin-bottom: 10px;">

                <div class="col-md-4">
                  <div class="info-item">
                    <button type="button" class="butncmi btn btn-lg w-100" data-bs-toggle="modal" data-bs-target="#exampleModal1">Find an Expert</button>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="info-item info-item-borders">
                    <button type="button" class="butncmi btn btn-lg w-100" data-bs-toggle="modal" data-bs-target="#exampleModal2">Find a Farm</button>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="info-item">
                    <button type="button" class="butncmi btn btn-lg w-100" data-bs-toggle="modal" data-bs-target="#exampleModal3">Find Financial Support</button>
                  </div>
                </div>

            </div>

            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- EXPERT MODAL -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Find an Expert</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <div class="modal-body">
                          <ul>
                          {% for i in expertcontent%}
                          <li class="list-unstyled btn btn-success">{{ i.name }}</li>
                          {% endfor %}
                        </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
  </div>

  <!-- FARM MODAL  -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Find a Farm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <div class="modal-body">
                         <ul>
                          {% for i in farmcontent%}
                          <li class="list-unstyled btn btn-success">{{ i.name }}</li>
                          {% endfor %}
                        </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
  </div>

  <!-- FINANCE MODAL -->
          <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Find Financial Support</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <div class="modal-body">
                       <ul>
                          {% for i in supportcontent%}
                          <li class="list-unstyled btn btn-success">{{ i.name }}</li>
                          {% endfor %}
                        </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
  </div>
<!-- <div class="col d-flex justify-content-center" data-aos="fade-in">
        <div class="card text-center">
          <div class="card-header" >
            <ul class="nav nav-tabs card-header-tabs">
              {% for commodity in commodity %}
              <li class="nav-item">
                <a class="nav-link" href="">{{commodity.name}}</a>
              </li>
              {% endfor %}
              </li>
            </ul>
          </div>
          <div class="col d-flex justify-content-center">
            <div class="row">
              <div class="">
                <h2 class="text-uppercase">{{commodities.name}}</h2>
              </div>
              <div class="" >
                <img class="card-img-top" src="{{ commodities.image.url }}" alt="Card image cap" style="width: 30rem;">
                <p class="desc">{{commodities.detail|linebreaks}}</p>
              </div>
            </div>
          </div>

          <hr class="hr" />

                <h1 style="margin-bottom: 20px;">How can we help?</h1>

                <div class="row gy-4" style="margin-bottom: 30px;">

                    <div class="col-md-4">
                      <div class="info-item">
                        <button type="button" class="btn btn-success btn-lg">Find an Expert</button>
                      </div>
                    </div>< End Info Item -->

                    <!-- <div class="col-md-4">
                      <div class="info-item info-item-borders">
                        <button type="button" class="btn btn-success btn-lg">Find a Farm</button>
                      </div>
                    </div> End Info Item -->

                    <!-- <div class="col-md-4">
                      <div class="info-item">
                        <button type="button" class="btn btn-success btn-lg">Find Financial Support</button>
                      </div>
                    </div> End Info Item -->
<!--
                </div> -->
      {% endblock %}
  <style>
    .d-flex{
        margin-bottom: 25px;
    }
    .btn-lg{
      margin-top: 25px;
      margin: 10px;
    }
    .card{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .card .row{
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .desc{
      margin-left: 25px;
      margin-top: 50px;
    }
    .text-center{
      margin-left: 25px;
    }
    .hr{
      margin-bottom: 50px;
    }
  </style>
