{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
  <hr>
  <div class="hero">
  <div class="container my-5">
  <h2>Users</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email Address</th>
        <th scope="col">Active Status</th>
        <th scope="col">Date Joined</th>
        <th scope="col">Authorization</th>
        <th scope="col">Delete User </th>
      </tr>
    </thead>
    <tbody>
      {% for user_data in user_data_list %}
    <tr>
    <td>{{ user_data.user.username|title }}</td>
    <td>{{ user_data.user.email }}</td>
    <td>{{ user_data.active_status }}</td>
    <td>{{ user_data.user.date_joined|date:"Y-m-d"}}</td>
    <td>{{ user_data.user.is_superuser|yesno:"Admin, Regular"}}</td>
    <td>{% if user_data.user.is_superuser%} Unavailable {% else%} <a href="{% url 'deleteuser' user_data.user.id %}" onclick="return confirm('WARNING!! Press OK to continue DELETING')" style="color: brown;"> Delete User</a> {% endif%}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
  </div>
  </div>
{% endblock %}