{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<div class="hero">
<div class="container my-5">
<h1>CATEGORY</h1>
<div><a href="{% url 'categorycreateview'%}"><button type="button" type="button" class="btn btn-primary"> Add Category </button></a></div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">CATEGORY</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
    <tr>
    <td>Category: {{ category.title|title }}</td>
    <td><a href="{% url 'deletecategory' category.slug %}" onclick="return confirm('WARNING!! Press OK to continue DELETING')" style="color: brown;"><button type="button" class="btn btn-danger"> Delete Category </button>  </a></td>

    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
 <div class="album py-5">
    <div class="container">
      <h2 style="color: rgb(0, 75, 50); font-style: italic;">ALL POST</h2>
      <a href="{% url 'postcreateview' %}"><button type="button" class="btn btn-primary"> Add Post </button></a>
      <div class="row row-cols-1 row-cols-sm-4 row-cols-md-4 g-5">
        {% for post in posts %}
        <div class="col">
          <div class="card shadow-sm">
            {% for post in post.postimages_set.all%}
              {% if post.images %}
                {% if forloop.first %}
                <img style="max-height: 100px; object-fit: cover;" src="{{post.images.url}}">
                {% endif %}
              {% endif %}
            {% endfor %}
            <div class="card-body"><small class="text-muted">{{ post.created_at|date:"Y-m-d"}}</small>
              <p class="card-text">Title: {{ post.title|title }}</p>
              <p class="card-text">Detail: {{ post.body|truncatechars:100 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'deletepost' post.slug %}" onclick="return confirm('WARNING!! Press OK to continue DELETING')" style="color: rgb(255, 0, 0);"> <button type="button" class="btn btn-danger">Delete Post </button> </a>
                  <a href="{% url 'post_update' post.slug %}" style="color: rgb(255, 0, 0);"> <button type="button" class="btn btn-info"> Update Post </button> </a>
                </div>

              </div>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
</div>
</div>

{% endblock %}