{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
 <div class="album py-5">
    <div class="container">
      <h2 style="color: rgb(0, 75, 50); font-style: italic;">Gallery Album</h2>
                        <!-- {% for album in albums %}
                    <div class="card" style="width: 10rem; border: none; width: 100px; margin-left: 10px;">
                      <a href="{% url 'album' album.id %}"><img class="card-img-top" src="{{album.get_cover_image_url}}" alt="Card image cap" style="width: 400px; height: 400px;"></a>
                      <div class="card-body">
                        <h5 class="card-title">{{album.name}}</h5>
                        <p class="card-text">{{album.caption}}</p>
                       </div>
                    </div>
                    {% endfor %} -->
        <a href="{% url 'createalbum' %}"><button type="button" class="btn btn-primary"> Add Album </button></a>
        <div class="row row-cols-1 row-cols-sm-4 row-cols-md-4 g-5" style="
              margin-bottom: 100px;
          ">
          {% for album in albums %}
          <div class="col">
            <div class="card shadow-sm mb-6">
              <!-- <img src="{{album.get_cover_image_url}}"> -->
              <div class="card-body"><small class="text-muted">{{ album.created_at|date:"Y-m-d"}}</small>
                <p class="card-text">Name: {{album.name}}</p>
                <p class="card-text">Caption: {{album.caption}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'deletealbum' album.pk %}" onclick="return confirm('WARNING!! Press OK to continue DELETING')" style="color: rgb(255, 0, 0);"> <button type="button" class="btn btn-danger">Delete Album </button> </a>
                    <a href="{% url 'albumupdate' album.pk %}" style="color: rgb(4, 255, 0);"> <button type="button" class="btn btn-info"> Update Album </button> </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
      {% endfor %}
  </div>
  <hr>
  <h2 style="color: rgb(0, 75, 50); font-style: italic;">Gallery Photo</h2>
<a href="{% url 'createphoto' %}"><button type="button" class="btn btn-primary"> Add Photo </button></a>
  <div class="row row-cols-1 row-cols-sm-4 row-cols-md-4 g-5">
        {% for photo in photos %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{photo.image.url}}">
            <div class="card-body"><small class="text-muted">{{ photo.created_at|date:"Y-m-d"}}</small>
              <p class="card-text">Name: {{ photo.name|title }}</p>
              <p class="card-text">Caption: {{ photo.caption|truncatechars:100 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <a href="{% url 'deletephoto' photo.pk %}" style="color: brown;"> Delete Post</a> -->
                  <a href="{% url 'deletephoto' photo.pk %}" onclick="return confirm('WARNING!! Press OK to continue DELETING')" style="color: rgb(255, 0, 0);"> <button type="button" class="btn btn-danger">Delete Photo </button> </a>
                  <a href="{% url 'photoupdate' photo.pk %}" style="color: rgb(4, 255, 0);"> <button type="button" class="btn btn-info"> Update Photo </button> </a>
                </div>

              </div>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
</div>
</div>
{% endblock %}