{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
  <div class="album py-5">
  <div class="d-flex align-items-center justify-content-center">
    <a href="{% url 'createslide' %}">
      <button type="button" class="btn btn-primary btn-lg mb-5"> Add Custom Slider </button>
    </a>
  </div>
    <div class="container">
      <div class="d-flex align-items-center justify-content-center">
        <h2 style="color: rgb(0, 75, 50); font-style: italic;">MAIN SLIDER </h2>
      </div>
      <div class="row row-cols-1 row-cols-sm-4 row-cols-md-4 g-5">
        {% for slide in slides %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{slide.image.url}}">
            <div class="card-body">
              <p class="card-text">Name: {{ slide.name|title }}</p>
              <p class="card-text">Detail: {{ slide.detail|truncatechars:100 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="{% url 'deleteslide' slide.id %}" onclick="return confirm('WARNING!! Press OK to continue DELETING')" style="color: brown;"><button type="button" class="btn btn-danger">Delete Slide </button>  </a>

                <a href="{% url 'sliderupdate' slide.id %}" style="color: rgb(106, 202, 85);"><button type="button" class="btn btn-info"> Update Slide </button></a>

                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}