{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  <section class="about-breadcrumb">
      <div class="container d-flex flex-column">
          <nav class="justify-content-start">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item fs-5"><a href="{% url 'community' %}">Categories</a></li>
                  <li class="breadcrumb-item fs-5"><a href="{% url 'allpost' %}">All Posts</a></li>
                  <li class="breadcrumb-item fs-5"><a href="{% url 'mypost' %}">My Posts</a></li>
                  <li class="breadcrumb-item fs-5"><a active href="{% url 'facts' %}">FAQs</a></li>
              </ol>
          </nav>
      </div>
    </section>

  <section>
        <div class="container" data-aos="fade-in">
    <div class="col d-flex justify-content-center">
      <div class="card text-center" style="border: none;">
          <div class="col d-flex justify-content-center">
            <div class="card text-center" style="border: none;">
                <h1>Frequently Asked Questions</h1>
            </div>
          </div>

          <div class="col d-flex justify-content-center">
            <div class="card text-center" style="width: 60rem;">
                <div class="row">
                    <div class="list-group w-100">
                    {% for faq in faqs %}
                    <a href="#faq{{forloop.counter}}" data-bs-toggle="collapse" aria-expanded="false"
                      aria-controls="faq{{forloop.counter}}" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between border-bottom">
                        <h5 class="bi bi-chevron-down mb-1 text-center">{{faq.question}}</h5>
                      </div>
                      {% if faq.images %}
                      <img src="{{faq.img.url}}" style="max-width: 200px; margin-top: 10px;">
                      {% endif %}
                      <div id="faq{{forloop.counter}}" class="collapse border-bottom">
                        <p class="mb-1">{{faq.answer}}</p>
                      </div>
                    </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
          </div>
          
        </div>
      </div>
        </div> 
  <style>
    .btn{
      margin: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    .card{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
  </style>
      {% endblock %}