<style>
@import url('http://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'poppins', sans-serif;
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
}
h2{
  font-size: 1.8rem;
  font-weight: 600;
}
h3{
  font-size: 1.4rem;
  font-weight: 800;
}
h4{
  font-size: 1.1rem;
  font-weight: 600;
}

h5{
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}
h6{
color: #d8d8d8;
}
  
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin manual</title>
</head>
    <!-- boostrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
     rel="stylesheet" 
     integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
     crossorigin="anonymous">
<body class="">
    
<br>


<h1 class="text-center mb-4 text-success" >I. Introduction
  </h1>
  <hr >
<h4 class="mt-5" >A. purpose of the manual</h4>
This manual is designed to provide an overview of the admin system in our content management system. It will guide you through the process of managing user accounts, creating and editing content, and managing website settings.


  <hr class="mt-5">
<h4 class="mt-5">B. Overview of the Content Management System</h4>
Our content management system is a web-based platform that allows you to create, manage, and publish digital content. It is designed to be user-friendly and customizable to meet your specific needs.
<hr class="mt-5">
<h4 class="mt-5">C. Admin System Overview</h4>
The admin system is the section of the content management system where you can manage user accounts, create and edit content, and manage website settings.

<hr class="mt-5">
<h1 class="text-center mb-4  mt-5 text-success">II. Getting Started
</h1>
<hr class="mt-5">
<h4 class="mt-5">A. Accessing the Admin System</h4>
To access the admin system, navigate to the login page and enter your username and password.

<hr class="mt-5">
<h4 class="mt-5">B. Login Process</h4>
Once you have entered your username and password, you will be taken to the dashboard. The dashboard is the main hub of the admin system and provides an overview of your website's performance.


<hr class="mt-5">
<h4 class="mt-5">C. Dashboard Overview</h4>
The dashboard includes various widgets and panels that provide information about your website's performance, including traffic, comments, and recent posts and these are:

<hr class="mt-5">
<h4 class="mt-5">D. Navigation Overview</h4>
The navigation menu on the left side of the dashboard provides quick access to different sections of the admin system, including user management, content management, site managment here are the navigations you can check :

1: users
2: About
3: Slider
4: community
5: gallery
6: support
7: Services
8: FAQS
<hr class="mt-5">
<h1 class="text-center mb-5 mt-5 text-success">III. User Management
<hr class="mt-5">
<h4 class="mt-5">A. User Roles and Permissions</h4>
Our content management system includes three user roles: administrators, editors, and contributors. Each role has a different set of permissions and access levels.

<hr class="mt-5">
<h4 class="mt-5">B. Checking the total, active and inactive user</h4>
Our content management system can see the numbers of user/admin registered and can look if these specific user/admin is active or inactive

<hr class="mt-5">
<h4 class="mt-5">D. deleting user</h4>
To delete, navigate to the Users section of the admin system and click the "delete user button" button. also, if you are assigned as administrator you can delete it and it will indicate as Unavailable

<hr class="mt-5">
<h1 class="text-center mb-5 mt-5 text-success">IV. Content Management

<hr class="mt-5">
<h4 class="mt-5">A. Creating New Content</h4>
To create new content, navigate to the Posts or Pages section of the admin system and click the "Add New" button. You can then enter the content's title, text, and media.

<hr class="mt-5">
<h4 class="mt-5">B. Editing Existing Content</h4>
To edit existing content, navigate to the Posts or Pages section of the admin system and click the content's title. You can then make changes to the content's title, text, and media.

<hr class="mt-5">
<h4 class="mt-5">C. Deleting Content</h4>
To delete content, navigate to the Posts or Pages section of the admin system and click the content's title. Then, click the "Move to Trash" button and confirm the deletion.

<hr class="mt-5">
<h4 class="mt-5 ">D. Content Organizations</h4>
Our content management system allows you to organize your content into categories and tags. This makes it easier for users to find relevant content on your website.
<br>
<br>
<br>
<br>
<br>








</body >
</html>