{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}
<div class="hero">
  <div class="container my-5">
    <div class="i-am-centered" style="max-width: 600px; margin: auto;">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in post_form %}
          {% if field.widget.input_type == 'checkbox' %}
            <div class="form-group form-check">
              {{ field }}
              <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
            {% elif field.name == 'image' %}
                <!-- <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% for image_obj in field.value %}
                        <div>
                            <img src="{{ image_obj.image.url }}" alt="{{ image_obj.image.name }}">
                            <span>{{ image_obj.image.name }}</span> -->
                            <!-- Include hidden input fields for existing images in the selection -->
                            <!-- <input type="hidden" name="{{ field.html_name }}" value="{{ image_obj.pk }}">
                        </div>
                    {% endfor %}
                    {{ field }}
                </div> -->
          {% else %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:"form-control" }}
            </div>
          {% endif %}
        {% endfor %}
        <div class="form-group" style="max-height: 100px; overflow-y: auto;">
          <label for="{{ post_form.image.id_for_label }}">{{ post_form.image.label }}</label>
          {% for image in post_form.image.field.queryset %}
            <div class="form-check">
              <a href="{{ image.images.url }}" target="_blank">
                <input type="checkbox" name="{{ post_form.image.html_name }}" value="{{ image.pk }}"
                  {% if image.pk|stringformat:"d" in post_form.image.widget.attrs.selected_images %}checked{% endif %}>
                <label for="id_{{ post_form.image.auto_id }}_{{ image.pk }}">{{ image }}</label>
              </a>
            </div>
          {% endfor %}
        </div>

        {{ post_images_formset.management_form }}
        {% for form in post_images_formset %}
        <div class="form-group">
            <label for="{{ form.images.id_for_label }}">{{ form.images.label }}</label>
            {{ form.images|add_class:"form-control-file" }} multiple
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>
</div>
<style>
    .form-group {
        margin-bottom: 10px;
    }
    label {
        font-weight: bold;
    }
    input[type="text"], input[type="file"] {
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
    }
</style>
{% endblock %}