{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <section class="category-section">
      <div class="container" data-aos="fade-up" id="onGoing">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>{{onproject.title}}</h2>
          <div><a href="{% url 'project' %}" class="more">See All Projects</a></div>
        </div>

        <div class="row">
          <div class="col-md-9">
            <div class="d-lg-flex post-entry-2 align-items-center">
              <a href="{{ onprojects.image1.url }}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                  <img src="{{ onprojects.image1.url }}" alt="" class="img-fluid">
              </a>
              <a href="{{ onnprojects.image2.url }}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                  <img src="{{ onprojects.image2.url }}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

            <div class="post-meta"><span class="date">Since</span> <span class="mx-1">&bullet;</span> <span>{{onproject.start_date}}</span></div>
                    <h3 style="margin: auto;">{{onproject.title}}</h3>
                    <h4 style="margin: auto;" >{{onproject.proj_description}}</h4>
                    <div class="d-flex align-items-center author">
                    <div class="name">
                      <h6>Researchers:</h6>
                    {% for researcher in onproject.proj_team %}
                        <li> {{ researcher.fname }} {{ researcher.lname }}</li>
                    {% endfor %}
                    </div>
                    </div>
                </div>
                </div>
            </div>

        </div>
      </div>
    </section>
      <style>
    .col{
      margin-bottom: 10px;
    }
    .card-body{
      margin-left: auto;
      margin-right: auto;
      width: 50rem;
    }
    .text-center{
      margin-bottom: 25px;
    }
    .card{
      margin-top: 30px;
    }
    .card-img-top{
      width: 800px;
    }
  </style>
    {% endblock %}