{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <section class="category-section">
      <div class="container" data-aos="fade-up" id="onGoing">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>On-Going Projects</h2>
          <div><a href="{% url 'onproject' %}" class="more">See All Ongoing Projects</a></div>
        </div>

        <div class="row">
          <div class="col-md-9">
            {% for project in onprojects|slice:":1" %}
            <div class="d-lg-flex post-entry-2">
              <!-- <a href="{{ project.image1.url }}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src="{{ project.image1.url }}" alt="" class="img-fluid">
              </a> -->
              <div>
                <div class="post-meta"><span class="date">Since</span> <span class="mx-1">&bullet;</span> <span>{{project.start_date}}</span></div>
                <h3><a href="{% url 'onprojectdetail' proj_id=project.proj_id %}" id="link">{{project.title}}</a></h3>
                <p>{{project.proj_description}}</p>
                <div class="d-flex align-items-center author">
                  <div class="name">
                    <h3 class="m-0 p-0">Researchers:</h3>
                    <ul style="  list-style: none;
                    padding: 0;
                    margin: 0;">
                    {% for researcher in project.proj_team %}
                        <li>{{ researcher.fname }} {{ researcher.lname }}</li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </section>

    <section class="category-section">
      <div class="container" data-aos="fade-up" id="completed">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Completed Projects</h2>
          <div><a href="{% url 'finproject' %}" class="more">See All Completed Projects</a></div>
        </div>

        <div class="row">
          <div class="col-md-9">
            {% for project in finprojects|slice:":1" %}
            <div class="d-lg-flex post-entry-2">
              <!-- <a href="{{ project.image1.url }}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src="{{ project.image1.url }}" alt="" class="img-fluid">
              </a> -->
              <div>
                <div class="post-meta"><span class="date">Completed On</span> <span class="mx-1">&bullet;</span> <span>{{project.end_date}}</span></div>
                <h3><a href="{% url 'onprojectdetail' proj_id=project.proj_id %}" id="link">{{project.title}}</a></h3>
                <p>{{ project.proj_description }}</p>
                <div class="d-flex align-items-center author">
                  <div class="name">
                    <h3 class="m-0 p-0">Researchers:</h3>
                    <ul style="  list-style: none;
                    padding: 0;
                    margin: 0;">
                    {% for researcher in project.proj_team %}
                        <li>{{ researcher.fname }} {{ researcher.lname }}</li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </section>
      <style>
    #link:hover{
      color: #008001;
      text-decoration: underline;
    }
    .col{
      margin-bottom: 10px;
    }
    .card-body{
      margin-left: auto;
      margin-right: auto;
      width: 50rem;
    }
    .text-center{
      margin-bottom: 25px;
    }
    .card{
      margin-top: 30px;
    }
    .card-img-top{
      width: 800px;
    }

    .section-header {
  border-bottom: 2px solid #008001;
}

.section-header h2 {
  font-size: 50px;
  color: #008001;
}

.section-header p {
  margin-bottom: 0;
}
  </style>
    {% endblock %}